*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: azure;
    background: #4404dbb4;
}
nav {
    display: flex;
    justify-content: center;
}
nav h2{
    font-size: 50px;
    margin-top: 20px;
}
nav button{
    margin: 30px 15px;
    padding: 10px 30px;
    text-align: center;
}
.hex{
    margin-left: 20px;
}

main{
    display: flex;
    justify-content: center;
}
.change{
    margin: 20px 60px;
    padding: 10px 20px;
}
